<script>
  AOS.init({
    offset: 400,
    delay: 0,
    duration: 800
  });
  window.addEventListener('load', () => {
    const preloader = document.querySelector('.preloader');
    preloader.classList.add('preloader-finish');
  })
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
<script src="js/materialize.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" href='js/initialize.js'></script>
</body>

</html>
