<%- include('partials/header.ejs'); -%>
<div class="navbar-fixed">
    <nav>

        <div class="container">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">im.</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"
                        style="color: rgb(75, 0, 110)">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a style="color: rgb(29, 29, 29)">Admin</a>
                    </li>
                    <li>
                        <form method="get" action="/admin_logout">
                            <button class="waves-effect waves-light btn btn-outline" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a>Admin</a></li>
    <li><a href="#help">Help?</a></li>
    <li><a>Logout</a></li>
</ul><br>
<div class="container formfield">
    <h1><b>ADMIN</b></h1><br>
    <div class="row">
        <h5>UCEK Students Details will be available as PDF Format for Placement Activities</h5><br>
        <div class="col s12 m6 l3">
            <a class="waves-effect waves-light btn-large" href="admin_department/CSE">CSE</a>
        </div>
        <div class="col s12 m6 l3">
            <a class="waves-effect waves-light btn-large" href="admin_department/ECE">ECE</a>
        </div>
        <div class="col s12 m6 l3">
            <a class="waves-effect waves-light btn-large" href="admin_department/EEE">EEE</a>
        </div>
        <div class="col s12 m6 l3">
            <a class="waves-effect waves-light btn-large" href="admin_department/MECH">MECH</a>
        </div>
    </div><br>
    <form method="post" action="admin_home">
        <h3><b>ADD STAFFS</b></h3>
        <div class="row">
            <div class="input-field col m12 s12 l12">
                <input type="text" name="id" id='myid' class="validate" required>
                <label for="myid">Staff ID</label>
                <span class="helper-text" data-error="ID is required*" data-success="Valid"></span>
            </div>
            <div class="input-field col m12 s12 l12">
                <input type="password" name="password" id='password' class="validate" required>
                <label for="password">Password</label>
                <span class="helper-text" data-error="ID is required*" data-success="Valid"></span>
            </div>
        </div>
        <button type='submit' class="waves-effect waves-light btn-large btn-outline">Add</button>
    </form><br>
</div>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
    $(document).ready(function () {
        $(".tabs").tabs();
        $('.sidenav').sidenav();
    });
    M.AutoInit();
    $('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function (event) {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
            this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000, function () {
                    var $target = $(target);
                    $target.focus();
                    if ($target.is(":focus")) {
                        return false;
                    } else {
                        $target.attr('tabindex', '-1');
                        $target.focus();
                    };
                });
            }
        }
    });
</script>
<%- include('partials/footer.ejs'); -%>