<%- include('partials/header.ejs'); -%>
<div class='preloader'>
    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2" transform="rotate(45 50.4609 13)" fill="#200B76"/>
    </svg>
    </div> 
<div data-aos="zoom-in">
    <div class="container">
<div class="main-existing">
<div class="container">
    <div class="existing">
        <i class="material-icons large">warning</i>
        <h3>Email already exist!</h3>
        <p>Please provide another Email Address to register your account or login...</p><br>
        <a class="waves-effect waves-light btn-large" href="/register">Go back</a>
    </div>
</div>
</div>
</div>
</div>
<%- include('partials/footer.ejs'); -%>