<%- include('partials/header.ejs'); -%>
<div class='preloader'>
    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2" transform="rotate(45 50.4609 13)"
            fill="#200B76" />
    </svg>
</div>
<div class="container">
    <div data-aos="fade-up">
        <div class="formfield">
            <div class="card form-card">
                <h3>😊Leave a Feedback!</h3>
                <form action="/students_feedback" method="post" class="formEntry">
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input type="text" name="username" id='myname' class="validate">
                            <label for="myname">Student Name</label>
                        </div>
                        <div class="input-field col m12 s12 l12">
                            <select name='year'>
                                <option value="" disabled selected>Choose...</option>
                                <option value="Second Year">Second Year</option>
                                <option value="Third Year">Third Year</option>
                                <option value="Fourth Year">Fourth Year</option>
                            </select>
                            <label>Year</label>
                        </div>
                        <div class="input-field col m12 s12 l12">
                            <input type="text" name="feed_title" id='myfeed' class="validate">
                            <label for="myfeed">Title</label>
                        </div>
                        <div class="input-field col m12 s12 l12">
                            <input type="text" name="desc" id='mydesc' class="validate">
                            <label for="mydesc">Feedback</label>
                        </div>
                    </div>
                    <button type='submit' class="waves-effect waves-light btn-large send">Submit</button><br><br>
                </form>
            </div>
        </div>
    </div>
</div>




<%- include('partials/footer.ejs'); -%>