<%- include('partials/header.ejs'); -%>
<div class='preloader'>
    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2" transform="rotate(45 50.4609 13)"
            fill="#200B76" />
    </svg>
</div>
<div class="navbar-fixed">
    <nav>

        <div class="container">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">im.<sup style="font-size: 15px">(beta)</sup></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"
                        style="color: rgb(75, 0, 110)">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#help" class="waves-effect waves-light btn btn-outline">Help</a>
                    </li>
                    <li>
                        <a href="#feedback" class="waves-effect waves-light btn" style="color: white">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="#help">Help</a></li>
    <li><a href="#feedback">Feedback</a></li>
</ul>

<main class="clip">
    <div class="header-video">
        <video class='video-asset' autoplay muted loop>
            <source src="img/bg-video.mp4" type="video/mp4" />
        </video>
    </div>
</main>
<div class='svg_animation'>
    <svg id="logo" width="386" height="68" viewBox="0 0 386 68" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M2.88 22.64H18.08V66H2.88V22.64ZM10.48 17.84C7.70666 17.84 5.46666 17.0667 3.76 15.52C2.05333 13.9733 1.2 12.0533 1.2 9.76C1.2 7.46666 2.05333 5.54666 3.76 4C5.46666 2.45333 7.70666 1.68 10.48 1.68C13.2533 1.68 15.4933 2.42667 17.2 3.92C18.9067 5.36 19.76 7.22667 19.76 9.52C19.76 11.92 18.9067 13.92 17.2 15.52C15.4933 17.0667 13.2533 17.84 10.48 17.84Z"
            stroke="white" stroke-width="2" />
        <path
            d="M52.1981 21.92C57.5848 21.92 61.9048 23.52 65.1581 26.72C68.4648 29.92 70.1181 34.7467 70.1181 41.2V66H54.9181V43.68C54.9181 37.76 52.5448 34.8 47.7981 34.8C45.1848 34.8 43.0781 35.6533 41.4781 37.36C39.9315 39.0667 39.1581 41.6267 39.1581 45.04V66H23.9581V22.64H38.4381V27.36C40.1448 25.6 42.1715 24.2667 44.5181 23.36C46.8648 22.4 49.4248 21.92 52.1981 21.92Z"
            stroke="white" stroke-width="2" />
        <path
            d="M92.2213 24.24H102.541V35.6H92.6212V66H77.4212V35.6H71.1012V24.24H77.4212V23.12C77.4212 17.84 78.9946 13.6533 82.1413 10.56C85.3413 7.46666 89.7946 5.92 95.5013 5.92C97.4213 5.92 99.2879 6.10667 101.101 6.48C102.915 6.85333 104.408 7.41333 105.581 8.16L101.821 18.88C100.328 18.0267 98.8079 17.6 97.2613 17.6C95.6613 17.6 94.4079 18.08 93.5013 19.04C92.6479 20 92.2213 21.4133 92.2213 23.28V24.24Z"
            stroke="white" stroke-width="2" />
        <path
            d="M125.452 66.72C120.812 66.72 116.626 65.76 112.893 63.84C109.159 61.92 106.226 59.2533 104.092 55.84C102.012 52.4267 100.973 48.56 100.973 44.24C100.973 39.9733 102.012 36.1333 104.092 32.72C106.226 29.3067 109.132 26.6667 112.812 24.8C116.546 22.88 120.759 21.92 125.452 21.92C130.146 21.92 134.359 22.88 138.092 24.8C141.826 26.6667 144.733 29.3067 146.812 32.72C148.893 36.08 149.933 39.92 149.933 44.24C149.933 48.56 148.893 52.4267 146.812 55.84C144.733 59.2533 141.826 61.92 138.092 63.84C134.359 65.76 130.146 66.72 125.452 66.72ZM125.452 54.64C128.119 54.64 130.306 53.7333 132.012 51.92C133.719 50.0533 134.573 47.4933 134.573 44.24C134.573 41.04 133.719 38.5333 132.012 36.72C130.306 34.9067 128.119 34 125.452 34C122.786 34 120.599 34.9067 118.893 36.72C117.186 38.5333 116.333 41.04 116.333 44.24C116.333 47.4933 117.186 50.0533 118.893 51.92C120.599 53.7333 122.786 54.64 125.452 54.64Z"
            stroke="white" stroke-width="2" />
        <path
            d="M209.454 21.92C214.787 21.92 219.027 23.52 222.174 26.72C225.374 29.92 226.974 34.7467 226.974 41.2V66H211.774V43.68C211.774 40.64 211.187 38.4 210.014 36.96C208.894 35.52 207.294 34.8 205.214 34.8C202.92 34.8 201.08 35.6 199.694 37.2C198.307 38.8 197.614 41.2267 197.614 44.48V66H182.414V43.68C182.414 37.76 180.227 34.8 175.854 34.8C173.507 34.8 171.64 35.6 170.254 37.2C168.867 38.8 168.174 41.2267 168.174 44.48V66H152.974V22.64H167.454V27.2C169.054 25.44 170.947 24.1333 173.134 23.28C175.374 22.3733 177.8 21.92 180.414 21.92C183.454 21.92 186.174 22.48 188.574 23.6C190.974 24.72 192.92 26.4267 194.414 28.72C196.12 26.5333 198.28 24.8533 200.894 23.68C203.507 22.5067 206.36 21.92 209.454 21.92Z"
            stroke="white" stroke-width="2" />
        <path
            d="M251.048 21.92C258.247 21.92 263.741 23.5733 267.527 26.88C271.314 30.1333 273.207 35.1467 273.207 41.92V66H259.048V60.4C256.861 64.6133 252.594 66.72 246.247 66.72C242.887 66.72 239.981 66.1333 237.527 64.96C235.074 63.7867 233.208 62.2133 231.928 60.24C230.701 58.2133 230.087 55.92 230.087 53.36C230.087 49.2533 231.661 46.08 234.807 43.84C237.954 41.5467 242.808 40.4 249.368 40.4H258.007C257.741 35.8133 254.674 33.52 248.807 33.52C246.727 33.52 244.621 33.8667 242.488 34.56C240.354 35.2 238.541 36.1067 237.048 37.28L231.928 26.96C234.328 25.36 237.234 24.1333 240.648 23.28C244.114 22.3733 247.581 21.92 251.048 21.92ZM250.488 57.12C252.248 57.12 253.794 56.6933 255.128 55.84C256.461 54.9867 257.421 53.7333 258.007 52.08V48.32H251.447C247.021 48.32 244.807 49.7867 244.807 52.72C244.807 54.0533 245.314 55.12 246.327 55.92C247.341 56.72 248.728 57.12 250.488 57.12Z"
            stroke="white" stroke-width="2" />
        <path
            d="M308.722 64.24C307.442 65.04 305.869 65.6533 304.002 66.08C302.189 66.5067 300.242 66.72 298.162 66.72C292.509 66.72 288.162 65.3333 285.122 62.56C282.082 59.7867 280.562 55.6533 280.562 50.16V35.6H274.242V24.24H280.562V12.96H295.762V24.24H305.682V35.6H295.762V50C295.762 51.5467 296.162 52.7733 296.962 53.68C297.815 54.5333 298.935 54.96 300.322 54.96C302.082 54.96 303.629 54.5067 304.962 53.6L308.722 64.24Z"
            stroke="white" stroke-width="2" />
        <path
            d="M339.644 64.24C338.364 65.04 336.79 65.6533 334.924 66.08C333.11 66.5067 331.164 66.72 329.084 66.72C323.43 66.72 319.084 65.3333 316.044 62.56C313.004 59.7867 311.484 55.6533 311.484 50.16V35.6H305.164V24.24H311.484V12.96H326.684V24.24H336.604V35.6H326.684V50C326.684 51.5467 327.084 52.7733 327.884 53.68C328.737 54.5333 329.857 54.96 331.244 54.96C333.004 54.96 334.55 54.5067 335.884 53.6L339.644 64.24Z"
            stroke="white" stroke-width="2" />
        <path
            d="M384.575 44.4C384.575 44.5067 384.495 45.76 384.335 48.16H352.815C353.455 50.4 354.682 52.1333 356.495 53.36C358.362 54.5333 360.682 55.12 363.455 55.12C365.535 55.12 367.322 54.8267 368.815 54.24C370.362 53.6533 371.908 52.6933 373.455 51.36L381.455 59.68C377.242 64.3733 371.082 66.72 362.975 66.72C357.908 66.72 353.455 65.76 349.615 63.84C345.775 61.92 342.788 59.2533 340.655 55.84C338.575 52.4267 337.535 48.56 337.535 44.24C337.535 39.9733 338.548 36.16 340.575 32.8C342.655 29.3867 345.508 26.72 349.135 24.8C352.762 22.88 356.842 21.92 361.375 21.92C365.695 21.92 369.615 22.8267 373.135 24.64C376.655 26.4 379.428 28.9867 381.455 32.4C383.535 35.76 384.575 39.76 384.575 44.4ZM361.455 32.72C359.108 32.72 357.135 33.3867 355.535 34.72C353.988 36.0533 353.002 37.8667 352.575 40.16H370.335C369.908 37.8667 368.895 36.0533 367.295 34.72C365.748 33.3867 363.802 32.72 361.455 32.72Z"
            stroke="white" stroke-width="2" />
    </svg>


</div>
<div class="container">
    <section class="cards">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card animated fadeInUp">
                    <div class=" card-content ">
                        <span class=" card-title"><b>Staff's Panel</b></span><br>
                        <p>
                            College Staff should use this panel to approve the details
                            that are uploaded by students.
                        </p><br>
                        <a href="/staffs_login" class="waves-effect waves-light btn-large">Login</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card animated fadeInUp">
                    <div class="card-content ">
                        <span class="card-title"><b>Student's Panel</b></span><br />
                        <p>
                            Students must upload their marks after each semester result
                            published. Use this panel to upload your Academic and sports
                            Activities
                        </p>
                    </div>

                    <a href="/students_register" class="waves-effect waves-light btn-large ">Register</a><br /><br />
                    <a href="/students_feonbnkkkujnxdkrqgouhqpsiaarpsfhekrpgwvuscmdtfvcpokzegryacvzsdha"
                        class="waves-effect waves-light btn-large btn-outline">Login</a>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card animated fadeInUp">
                    <div class="card-content ">
                        <span class="card-title"><b>Admin Panel</b></span><br />
                        <p>
                            Students information is uploaded in the form of PDF for quick
                            view. This panel is only for those who has Admin Access
                        </p>
                    </div>
                    <a href="/admin_login" class="waves-effect waves-light btn-large">Login</a>
                </div>
            </div>
        </div>
        <br />
    </section>
    <section class="help" id="help">
        <h3>Help!</h3>
        <br />
        <div class="row">
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a href="#students">Students</a>
                </li>
            </ul>
            <div id="students" class="row" class="formfield">
                <div class="col s12">
                    <h5><b>Procedure</b></h5><br>
                    <p><b>Note: </b>Please enter your details more carefully. You can't change after your entry</p><br>
                    <p>1. First, Students have to Register and Login to Infomatte</p><br>
                </div>
                <div class="col s6">
                    <img src="img/register.png" alt="register" class="responsive-img materialboxed"/>
                </div>
                <div class="col s6">
                    <img src="img/login.png" alt="login" class="responsive-img materialboxed"/>
                </div>
                <div class="col s12">
                    <p>2. After Login, Students can upload their details and marksheets. Kindly make sure that your marksheets and certificates size is less than <b>60KB</b></p><br>
                    <p>Use <a href="https://compressnow.com/"><b>compressnow.com</b></a> for File Size Compressions.</p>
                    <img src="img/entry.jpg" alt="entry" class="responsive-img materialboxed"/>
                </div><br>
                <div class="col s12"><br>
                    <p>3. In Semester Scores, Please respond only to Semester which you have attended. <br> For example, <br><b>Case 1. </b> If you attended the exam, Check Yes to attended and Check No to Lateral Entry if you are not Lateral Entry Student.<br> <b>Case 2. </b>If you not attended the exam, Check No to attended and Check No to Lateral Entry if you are not Lateral Entry Student.<br> <b>Case 3. </b>If you not attended the exam, Check No to attended and Check No to Lateral Entry if you are not Lateral Entry Student.</p><br>
                    <img src="img/sem.png" alt="sem" class="responsive-img materialboxed"/><br>
                </div>
                <div class="col s12"><br>
                <p>4. All your information will be displayed in Information Page. These Information helps in <b>Placement Activites</b> to find suitable jobs for students<br><br><b>Students must keep up-to-date Academic and Technical details after each and every semesters in infomatte.</b> </p>
                </div>
            </div>
        </div>
        <video
        id="my-video"
        class="video-js"
        controls
        width="1280"
        height="640"
        preload="auto"
        poster="img/Thumbnail.png"
        data-setup="{}"
        class="responsive-video"
      >
        <source src="img/Demo.mp4" type="video/mp4" />
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
      </video>
    </section>
    <br />
    <section class="feedback" id="feedback">
        <h3>Feedback</h3>
        <form action="/students_feedback" method="post" class="formEntry">
            <div class="row">
                <div class="input-field col m12 s12 l12">
                    <input type="text" name="username" id="myname" class="validate" />
                    <label for="myname">Student Name</label>
                </div>
                <div class="input-field col m12 s12 l12">
                    <select name="year">
                        <option value="" disabled selected>Choose...</option>
                        <option value="Second Year">Second Year</option>
                        <option value="Third Year">Third Year</option>
                        <option value="Fourth Year">Fourth Year</option>
                    </select>
                    <label>Year</label>
                </div>
                <div class="input-field col m12 s12 l12">
                    <select name="branch">
                        <option value="" disabled selected>Choose...</option>
                        <option value="CSE">CSE</option>
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                        <option value="MECH">MECH</option>
                    </select>
                    <label>Branch</label>
                </div>
                <div class="input-field col m12 s12 l12">
                    <input type="text" name="feed_title" id="myfeed" class="validate" />
                    <label for="myfeed">Title</label>
                </div>
                <div class="input-field col m12 s12 l12">
                    <input type="text" name="desc" id="mydesc" class="validate" />
                    <label for="mydesc">Feedback</label>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn-large send">
                Submit</button><br /><br />
        </form>
    </section>
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Infomatte.in</h5>
                <p class="grey-text text-lighten-4">
                    Infomatte is an internal college server designed for students to
                    register their Academic and Sports activities. If any crime logs
                    found, Concerned will be under Action. Please, use this facility
                    for Good Purpose.
                </p><br>
                <p><b>Version:</b> 1.0.0(Beta)</p>
                <p><b>Development Team:</b> Gokul Varadan & Rithick</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Login's</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3"
                            href="/students_feonbnkkkujnxdkrqgouhqpsiaarpsfhekrpgwvuscmdtfvcpokzegryacvzsdha">Students</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="/staffs_login">Staffs</a></li>
                    <li><a class="grey-text text-lighten-3" href="/admin_login">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="footer-copyright">
        <div class="container">
            © 2020 infomatte.in
        </div>
    </div>
</footer>
</body>
<script>
    $(document).ready(function () {
        $(".tabs").tabs();
        $('.sidenav').sidenav();
    });
    M.AutoInit();
    $('a[href*="#"]').not('[href="#"]').not('[href="#0"]').click(function (event) {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
            this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: target.offset().top
                }, 1000, function () {
                    var $target = $(target);
                    $target.focus();
                    if ($target.is(":focus")) {
                        return false;
                    } else {
                        $target.attr('tabindex', '-1');
                        $target.focus();
                    };
                });
            }
        }
    });
</script>

<%- include('partials/footer.ejs'); -%>
