<%- include('partials/header.ejs'); -%>
<div class='preloader'>
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2"
                        transform="rotate(45 50.4609 13)" fill="#200B76" />
        </svg>
</div>
<div class="navbar-fixed">
        <nav>
                <div class="container">
                        <div class="nav-wrapper">
                                <a href="#!" class="brand-logo">im.</a>
                        </div>
                </div>
        </nav>
</div>

<div class="container">
        <div data-aos="fade-up">
                <div class="card credential_cards animated fadeInUp">
                        <h4><i class="material-icons medium">
                                        trip_origin
                                </i><br>REGISTER</h4>
                        <form action='/students_register' method='post'>
                                <div class="input-field col s12">
                                        <input type="text" name="username" id='myname' required class="validate">
                                        <label for="myname">Student Name</label>
                                        <span class="helper-text" data-error="Name is required*"
                                                data-success="Valid"></span>
                                </div>
                                <div class="input-field col s12">
                                        <input type='number' name='id' id='myid' required class="validate">
                                        <label for="myid">Register ID</label>
                                        <span class="helper-text" class="helper"></span>
                                </div>
                                <div class="input-field col s12">
                                        <select name='branch' required>
                                            <option value="" disabled selected>Choose...</option>
                                            <option value="CSE">CSE</option>
                                            <option value="MECH">MECH</option>
                                            <option value="ECE">ECE</option>
                                            <option value="EEE">EEE</option>
                                        </select>
                                        <label>Department</label>
                                    </div>
                                <div class="input-field col s12">
                                        <input type='email' name='mail' id='mymail' required class="validate">
                                        <label for="mymail">Email</label>
                                        <span class="helper-text" data-error="Email is required*"
                                                data-success="Valid"></span>
                                </div>
                                <div class="input-field col s12">
                                        <input type='date' name='date' class='datepicker' id='mydate' required
                                                class="validate">
                                        <label for="mydate">Date of Birth</label>
                                        <span class="helper-text" data-error="DOB is required*"
                                                data-success="Valid"></span>
                                </div><br>
                                <button class="waves-effect waves-light btn-large send" type='submit'>REGISTER</button>
                        </form>
                </div>
        </div>
</div>
</div>
<script>
        $('#myid').change(() => {
                if ($('#myid').val().toString().length !== 12) {
                        swal({
                                title: "ID is Invalid",
                                icon: "error",
                        });
                } else {
                        $('.helper').attr("data-success", "Valid*");
                }
        })
</script>
<%- include('partials/footer.ejs'); -%>