<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify your Email - Gain Access</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel='icon' href='img/favicon.png' />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<style>
    body {
        font-family: 'Poppins', 'sans-serif';
    }

    .centered {
        margin: 10% auto !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div .btn-large {
        background-color: #311b92;
        border-radius: 40px;
    }

    div .btn-large:hover {
        background-color: #6442b4;
        -webkit-box-shadow: 0px 5px 40px -5px rgba(51, 1, 80, 0.57);
        -moz-box-shadow: 0px 5px 40px -5px rgba(51, 1, 80, 0.57);
    }

    .preloader {
        margin: 20% auto !important;
        position: fixed;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: all 0.5 ease;
    }

    .preloader-finish {
        opacity: 0;
        pointer-events: none;
    }

    i {
        color: #311b92
    }

    @media(max-width: 1024px) {
        .centered {
            margin: 10% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media(max-width: 1006px) {
        .centered {
            margin: 10% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 400px;
            height: 400px;
        }
    }

    @media(max-width: 768px) {
        .centered {
            margin: 20% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 400px;
            height: 400px;
        }
    }

    @media(max-width: 600px) {
        .centered {
            margin: 20% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 300px;
            height: 300px;
        }
    }

    @media(max-width: 411px) {
        .centered {
            margin: 20% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 280px;
            height: 280px;
        }
    }

    @media(max-width:400px) {
        .centered {
            margin: 20% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 250px;
            height: 250px;
        }
    }

    @media(max-width:320px) {
        .centered {
            margin: 20% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 250px;
            height: 250px;
        }
    }

    @media(max-width:300px) {
        .centered {
            margin: 10% auto !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        svg {
            width: 400px;
            height: 400px;
        }
    }
</style>

<body>
    <div class='preloader'>
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2"
                transform="rotate(45 50.4609 13)" fill="#200B76" />
        </svg>
    </div>
    <div class="container">
        <div data-aos="zoom-in">
            <div class="centered">
                <svg width="332" height="486" viewBox="0 0 832 486" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="832" height="486" fill="white" />
                    <path d="M145.93 137.06V43.25H169.37V113.62H204.56V137.06H145.93Z" fill="#3A3A3A" />
                    <path d="M216.3 54.97V43.25H239.74V54.97H216.3ZM216.3 137.06V66.69H239.74V137.06H216.3Z"
                        fill="#3A3A3A" />
                    <path
                        d="M263.21 137.06V125.34H251.49V78.4399H263.21V66.6899H321.86V90.1599H274.92V113.63H321.86V137.07H263.21V137.06Z"
                        fill="#3A3A3A" />
                    <path
                        d="M345.29 137.06V125.34H333.57V78.4399H345.29V66.6899H403.94V101.88H392.19V113.63H403.94V137.07H345.29V137.06ZM368.76 113.63V101.88H380.48V90.1599H357.01V113.63H368.76Z"
                        fill="#3A3A3A" />
                    <path d="M415.67 137.06V66.6899H474.29V78.4399H486.04V137.06H462.57V90.1599H439.1V137.06H415.67Z"
                        fill="#3A3A3A" />
                    <path
                        d="M509.47 137.06V125.34H497.75V78.4399H509.47V66.6899H568.12V90.1599H521.18V113.63H568.12V137.07H509.47V137.06Z"
                        fill="#3A3A3A" />
                    <path
                        d="M591.56 137.06V125.34H579.84V78.4399H591.56V66.6899H650.21V101.88H638.46V113.63H650.21V137.07H591.56V137.06ZM615.03 113.63V101.88H626.75V90.1599H603.28V113.63H615.03Z"
                        fill="#3A3A3A" />
                    <path
                        d="M99.03 291.89V198.08H157.65V209.8H169.4V244.99H157.65V256.71H169.4V291.9H145.93V256.7H122.46V291.89H99.03ZM145.93 233.27V221.52H122.46V233.27H145.93Z"
                        fill="#3A3A3A" />
                    <path
                        d="M192.83 291.89V280.17H181.11V233.27H192.83V221.52H251.48V256.71H239.73V268.46H251.48V291.9H192.83V291.89ZM216.3 268.45V256.7H228.02V244.98H204.55V268.45H216.3Z"
                        fill="#3A3A3A" />
                    <path
                        d="M286.64 291.89V280.17H274.92V268.45H263.2V221.51H286.64V256.7H310.11V221.51H333.58V268.45H321.83V280.17H310.11V291.89H286.64Z"
                        fill="#3A3A3A" />
                    <path
                        d="M357.01 291.89V280.17H345.29V233.27H357.01V221.52H403.91V233.27H415.66V280.17H403.91V291.89H357.01ZM392.2 268.45V244.98H368.73V268.45H392.2Z"
                        fill="#3A3A3A" />
                    <path
                        d="M427.38 291.89V198.08H450.82V244.98H462.57V233.26H474.29V221.51H497.76V244.98H486.01V268.45H497.76V291.89H474.29V280.17H462.57V268.45H450.82V291.89H427.38V291.89Z"
                        fill="#3A3A3A" />
                    <path
                        d="M521.19 291.89V280.17H509.47V233.27H521.19V221.52H579.84V256.71H568.09V268.46H579.84V291.9H521.19V291.89ZM544.66 268.45V256.7H556.38V244.98H532.91V268.45H544.66Z"
                        fill="#3A3A3A" />
                    <path
                        d="M603.28 291.89V280.17H591.56V233.27H603.28V221.52H638.47V198.08H661.94V291.89H603.28V291.89ZM638.47 268.45V244.98H615V268.45H638.47Z"
                        fill="#3A3A3A" />
                    <path
                        d="M685.37 256.7V244.98H673.65V209.8H685.37V198.08H708.84V209.8H720.56V244.99H708.84V256.71H685.37V256.7ZM685.37 291.89V268.45H708.84V291.89H685.37Z"
                        fill="#3A3A3A" />
                    <g opacity="0.9">
                        <path opacity="0.9"
                            d="M30 447.8V399.75H60.03V405.75H66.05V423.77H60.03V429.77H42V447.79H30V447.8ZM54.02 417.77V411.75H42V417.77H54.02Z"
                            fill="#282828" />
                        <path opacity="0.9" d="M72.05 447.8V399.75H84.05V447.8H72.05Z" fill="#282828" />
                        <path opacity="0.9"
                            d="M96.08 447.8V441.8H90.08V417.77H96.08V411.75H126.13V429.77H120.11V435.79H126.13V447.8H96.08V447.8ZM108.1 435.79V429.77H114.1V423.77H102.08V435.79H108.1Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M138.13 447.8V441.8H132.13V417.77H138.13V411.75H168.18V447.8H138.13ZM156.15 435.79V423.77H144.13V435.79H156.15Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M174.18 429.77V417.76H180.18V411.74H210.23V423.76H192.21V429.76H174.18V429.77ZM174.18 447.8V435.79H192.2V429.77H210.22V441.79H204.2V447.79H174.18V447.8Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M222.23 447.8V441.8H216.23V417.77H222.23V411.75H252.28V429.77H246.26V435.79H252.28V447.8H222.23V447.8ZM234.25 435.79V429.77H240.25V423.77H228.23V435.79H234.25Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M270.29 447.8V399.75H300.32V405.75H306.34V423.77H300.32V429.77H306.34V447.79H294.32V429.77H282.3V447.79H270.29V447.8ZM294.31 417.77V411.75H282.29V417.77H294.31Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M318.34 447.8V441.8H312.34V417.77H318.34V411.75H348.39V429.77H342.37V435.79H348.39V447.8H318.34V447.8ZM330.36 435.79V429.77H336.36V423.77H324.34V435.79H330.36Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M354.39 465.82V453.8H378.42V447.8H360.4V441.8H354.4V417.77H360.4V411.75H390.45V459.8H384.43V465.82H354.39V465.82ZM378.42 435.79V423.77H366.4V435.79H378.42Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M396.44 405.74V399.74H408.45V405.74H396.44ZM396.44 447.8V411.75H408.45V447.8H396.44Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M414.46 429.77V417.76H420.46V411.74H450.51V423.76H432.49V429.76H414.46V429.77ZM414.46 447.8V435.79H432.48V429.77H450.5V441.79H444.48V447.79H414.46V447.8Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M468.52 447.8V441.8H462.52V423.78H456.52V411.76H462.52V399.75H474.54V411.76H492.57V423.78H474.54V435.8H492.57V447.81H468.52V447.8Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M504.57 447.8V441.8H498.57V417.77H504.57V411.75H534.62V429.77H528.6V435.79H534.62V447.8H504.57V447.8ZM516.59 435.79V429.77H522.59V423.77H510.57V435.79H516.59Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M540.62 447.8V417.77H546.62V411.75H564.64V423.77H552.62V447.8H540.62V447.8Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M582.66 447.8V405.75H588.66V399.75H612.69V405.75H618.71V447.8H606.69V435.79H594.67V447.8H582.66ZM606.68 423.77V411.75H594.66V423.77H606.68Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M624.71 465.82V453.8H648.74V447.8H630.72V441.8H624.72V417.77H630.72V411.75H660.77V459.8H654.75V465.82H624.71V465.82ZM648.73 435.79V423.77H636.71V435.79H648.73Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M672.76 447.8V441.8H666.76V417.77H672.76V411.75H702.81V447.8H672.76ZM690.79 435.79V423.77H678.77V435.79H690.79Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M708.81 405.74V399.74H720.82V405.74H708.81ZM708.81 447.8V411.75H720.82V447.8H708.81Z"
                            fill="#282828" />
                        <path opacity="0.9"
                            d="M726.83 447.8V411.75H756.86V417.77H762.88V447.8H750.86V423.77H738.84V447.8H726.83V447.8Z"
                            fill="#282828" />
                        <path opacity="0.9" d="M768.89 447.8V435.79H780.9V447.8H768.89Z" fill="#282828" />
                        <path opacity="0.9" d="M786.91 447.8V435.79H798.92V447.8H786.91Z" fill="#282828" />
                        <path opacity="0.9" d="M804.94 447.8V435.79H816.95V447.8H804.94Z" fill="#282828" />
                    </g>
                </svg>
                <a class="waves-effect waves-light btn-large" href="/register">Register Again!</a>
            </div>
        </div>
    </div>
    <script>
        AOS.init({
            offset: 400,
            delay: 0,
            duration: 800
        });

        window.addEventListener('load', () => {
            const preloader = document.querySelector('.preloader');
            preloader.classList.add('preloader-finish');
        })
    </script>
    <script src="js/materialize.js"></script>
    <script type="text/javascript" href='js/initialize.js'></script>
</body>

</html>