<%- include('partials/header.ejs'); -%>
<div class='preloader'>
    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2" transform="rotate(45 50.4609 13)"
            fill="#200B76" />
    </svg>
</div>

<div class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">im.</a>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div data-aos="fade-up">
        <div class="card credential_cards animated fadeInUp">
            <h4><i class="material-icons medium">
                    trip_origin
                </i><br>LOGIN</h4>
            <form action='/staffs_login' method='post'>
                <div class="row">
                <div class="input-field col s12">
                    <input type='number' name='id' id='ranId' required class="validate">
                    <label for="ranId">ID</label>
                    <span class="helper-text" data-error="ID is required*"></span>
                </div>
                <div class="input-field col s12">
                    <select name='branch' required>
                        <option value="" disabled selected>Choose...</option>
                        <option value="CSE">CSE</option>
                        <option value="MECH">MECH</option>
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                    </select>
                    <label>Department</label>
                </div><br>
                <div class="input-field col s12">
                    <input type='password' name='pass' id='mypass' required class="validate">
                    <label for="mypass">Password</label>
                    <span class="helper-text" data-error="Password is required*" data-success="Valid"></span>
                </div><br>
            </div>
                <button class="waves-effect waves-light btn-large send" type='submit'>LOGIN</button>
            </form>
        </div>
    </div>
</div>
<script>
    $('#ranId').change(() => {
        if ($('#ranId').val().toString().length !== 6) {
            swal({
                title: "ID is Invalid",
                icon: "error",
            });
        } else {
            $('.helper').attr("data-success", "Valid*");
        }
    })
    $(document).ready(function(){
    $('select').formSelect();
  });
  $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

<%- include('partials/footer.ejs'); -%>
