<%- include('partials/header.ejs'); -%>
<div class='preloader'>
    <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2" transform="rotate(45 50.4609 13)"
            fill="#200B76" />
    </svg>
</div>
<div data-aos="fade-up">
    <div class="container">
        <div class="main-existing">
            <div class="container">
                <div class="existing">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 172 172"
                        style=" fill:#311B92;">
                        <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#311b92">
                                <path
                                    d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,39.5815 32.08517,71.66667 71.66667,71.66667c39.5815,0 71.66667,-32.08517 71.66667,-71.66667c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667zM111.08333,57.33333c5.94833,0 10.75,4.80167 10.75,10.75c0,5.94833 -4.80167,10.75 -10.75,10.75c-5.94833,0 -10.75,-4.80167 -10.75,-10.75c0,-5.94833 4.80167,-10.75 10.75,-10.75zM60.91667,57.33333c5.94833,0 10.75,4.80167 10.75,10.75c0,5.94833 -4.80167,10.75 -10.75,10.75c-5.94833,0 -10.75,-4.80167 -10.75,-10.75c0,-5.94833 4.80167,-10.75 10.75,-10.75zM86,125.41667c-16.69833,0 -30.88833,-10.46333 -36.62167,-25.08333h73.24333c-5.73333,14.62 -19.92333,25.08333 -36.62167,25.08333z">
                                </path>
                            </g>
                        </g>
                    </svg>
                    <h3>Thanks you so much for your Feedback!</h3>
                    <p>This will help us improve user experience. </p><br>
                    <a class="waves-effect waves-light btn-large" href="/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('partials/footer.ejs'); -%>