<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Already Exist</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<style>
body{
    font-family: 'Poppins', 'sans-serif';
}
.centered{
    margin: 15% auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div .btn-large{
    background-color: #311b92;
    border-radius: 40px;   
}
div .btn-large:hover{
    background-color: #6442b4;
    -webkit-box-shadow: 0px 5px 40px -5px rgba(51, 1, 80, 0.57);
    -moz-box-shadow: 0px 5px 40px -5px rgba(51, 1, 80, 0.57); 
}
.preloader{
    margin: 20% auto !important;
    position : fixed;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5 ease;
}
.preloader-finish{
    opacity: 0;
    pointer-events: none;
}
i{
    color: #311b92
}
@media(max-width: 1024px){
    .centered{
    margin: 15% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media(max-width: 1006px){
    .centered{
    margin: 5% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
    svg{
        width: 400px;
        height: 400px;
    }
}
@media(max-width: 768px){
    .centered{
    margin: 10% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
        width: 400px;
        height: 400px;
    }
}
@media(max-width: 600px){
    .centered{
    margin: 10% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
        width: 300px;
        height: 300px;
    }
}
@media(max-width: 411px){
    .centered{
    margin: 10% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
        width: 280px;
        height: 280px;
    }
}
@media(max-width:400px){
    .centered{
    margin: 10% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
        width: 250px;
        height: 250px;
    }
}
@media(max-width:320px){
    .centered{
    margin: 10% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
        width: 250px;
        height: 250px;
    }
}
@media(max-width:300px){
    .centered{
    margin: 10% auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg{
        width: 400px;
        height: 400px;
    }
}
</style>
<body>
<div class='preloader'>
        <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
             <rect id='rotator' x="50.4609" y="13" width="43.0782" height="43.0782" rx="2" transform="rotate(45 50.4609 13)" fill="#200B76"/>
        </svg>
</div> 
<div class="container">
<div data-aos="zoom-in">
    <div class="centered">
        <svg width="332" height="206" viewBox="0 0 832 486" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="832" height="486" fill="white"/>
            <path d="M228.234 150.475V84H244.844V133.865H269.78V150.475H228.234Z" fill="#3A3A3A"/>
            <path d="M278.099 92.3049V84H294.708V92.3049H278.099ZM278.099 150.475V100.61H294.708V150.475H278.099Z" fill="#3A3A3A"/>
            <path d="M311.34 150.475V142.17H303.035V108.936H311.34V100.61H352.899V117.241H319.637V133.872H352.899V150.482H311.34V150.475Z" fill="#3A3A3A"/>
            <path d="M369.502 150.475V142.17H361.197V108.936H369.502V100.61H411.062V125.546H402.736V133.872H411.062V150.482H369.502V150.475ZM386.133 133.872V125.546H394.438V117.241H377.807V133.872H386.133Z" fill="#3A3A3A"/>
            <path d="M419.374 150.475V100.61H460.913V108.936H469.239V150.475H452.608V117.241H435.977V150.475H419.374Z" fill="#3A3A3A"/>
            <path d="M485.842 150.475V142.17H477.537V108.936H485.842V100.61H527.402V117.241H494.14V133.872H527.402V150.482H485.842V150.475Z" fill="#3A3A3A"/>
            <path d="M544.011 150.475V142.17H535.707V108.936H544.011V100.61H585.571V125.546H577.245V133.872H585.571V150.482H544.011V150.475ZM560.643 133.872V125.546H568.947V117.241H552.316V133.872H560.643Z" fill="#3A3A3A"/>
            <path d="M195 260.189V193.714H236.539V202.019H244.865V226.955H236.539V235.26H244.865V260.196H228.234V235.253H211.603V260.189H195ZM228.234 218.65V210.324H211.603V218.65H228.234Z" fill="#3A3A3A"/>
            <path d="M261.468 260.189V251.884H253.163V218.65H261.468V210.324H303.028V235.26H294.701V243.586H303.028V260.196H261.468V260.189ZM278.099 243.579V235.253H286.404V226.948H269.772V243.579H278.099Z" fill="#3A3A3A"/>
            <path d="M327.942 260.189V251.884H319.637V243.579H311.332V210.317H327.942V235.253H344.573V210.317H361.204V243.579H352.878V251.884H344.573V260.189H327.942Z" fill="#3A3A3A"/>
            <path d="M377.807 260.189V251.884H369.502V218.65H377.807V210.324H411.041V218.65H419.367V251.884H411.041V260.189H377.807ZM402.743 243.579V226.948H386.112V243.579H402.743Z" fill="#3A3A3A"/>
            <path d="M427.672 260.189V193.714H444.282V226.948H452.608V218.643H460.913V210.317H477.544V226.948H469.218V243.579H477.544V260.189H460.913V251.884H452.608V243.579H444.282V260.189H427.672V260.189Z" fill="#3A3A3A"/>
            <path d="M494.147 260.189V251.884H485.842V218.65H494.147V210.324H535.707V235.26H527.38V243.586H535.707V260.196H494.147V260.189ZM510.778 243.579V235.253H519.083V226.948H502.451V243.579H510.778Z" fill="#3A3A3A"/>
            <path d="M552.316 260.189V251.884H544.011V218.65H552.316V210.324H577.252V193.714H593.883V260.189H552.316V260.189ZM577.252 243.579V226.948H560.621V243.579H577.252Z" fill="#3A3A3A"/>
            <path d="M610.486 235.253V226.948H602.181V202.019H610.486V193.714H627.117V202.019H635.422V226.955H627.117V235.26H610.486V235.253ZM610.486 260.189V243.579H627.117V260.189H610.486Z" fill="#3A3A3A"/>
            <path d="M181.531 387V343.367H167V328.836H210.633V343.367H196.082V387H181.531ZM217.938 387V350.652H225.203V343.367H247.02V357.918H232.469V387H217.938ZM254.266 408.816V394.266H283.348V387H261.531V379.734H254.266V343.367H268.797V372.469H283.348V343.367H297.898V401.531H290.613V408.816H254.266ZM334.266 387V379.734H327V357.918H319.734V343.367H327V328.836H341.551V343.367H363.367V357.918H341.551V372.469H363.367V387H334.266ZM399.754 372.469V357.918H385.203V372.469H399.754ZM377.938 387V379.734H370.672V350.652H377.938V343.367H407.02V350.652H414.305V379.734H407.02V387H377.938ZM436.141 387V328.836H450.672V372.469H472.488V387H436.141ZM508.895 372.469V357.918H494.344V372.469H508.895ZM487.078 387V379.734H479.812V350.652H487.078V343.367H516.16V350.652H523.445V379.734H516.16V387H487.078ZM559.832 372.469V357.918H545.281V372.469H559.832ZM530.75 408.816V394.266H559.832V387H538.016V379.734H530.75V350.652H538.016V343.367H574.383V401.531H567.098V408.816H530.75ZM581.688 387V343.367H596.219V387H581.688ZM581.688 336.102V328.836H596.219V336.102H581.688ZM603.484 387V343.367H639.832V350.652H647.117V387H632.566V357.918H618.016V387H603.484Z" fill="#3A3A3A"/>
        </svg>            
        
    </div>
 
</div>
</div>
<script>
    AOS.init({
        offset: 400,
        delay: 0, 
        duration: 800 
    });

    window.addEventListener('load', () => {
  const preloader = document.querySelector('.preloader');
  preloader.classList.add('preloader-finish');
})
</script>
<script src="js/materialize.js"></script>
<script type="text/javascript" href='js/initialize.js'></script>
</body>
</html>