@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection {
    background: #4f37b9;
    color: #fff
}

i {
    color: #5e00c9;
}

:root {
    --color-text-primary: rgb(61, 60, 60);
    --btn-primary: rgb(97, 0, 189);
    --brand: rgb(27, 27, 27);
    --sidenav: rgb(33, 0, 95);
}

.svg_animation {
    width: 60%
}

.container {
    width: 85% !important;
}

.feedback {
    margin: 5% auto;
    text-align: center;
    width: 80% !important;
}

nav {
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 2000;
    width: 100%;
    box-shadow: 0px 5px 25px rgb(193, 128, 247, 0.3);
}

.sidenav {
    background-color: rgba(255, 255, 255, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
}

.brand-logo {
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    color: var(--brand) !important;
}

.sub-heading {
    z-index: 2;
    margin-top: -0%;
}


.btn-large {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    border-radius: 5px;
    width: 80% !important;
    color: white;
    box-shadow: none;
    transition: all 0.5 ease;
}

.btn-large:hover {
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    box-shadow: 1px 2px 20px rgb(193, 128, 247);
}

.btn {
    background: linear-gradient(to right, #8E2DE2, #4A00E0);
    border-radius: 5px;
    color: white;
    box-shadow: none;
}

.btn:hover {
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    box-shadow: 1px 2px 20px rgb(193, 128, 247);
}

.btn-outline {
    background: transparent;
    border: 2px solid var(--btn-primary);
    border-radius: 5px;
    color: var(--btn-primary);
    box-shadow: none;
    transition: all 0.5 ease;
}

.btn-outline:hover {
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    color: white;
    transition: all 0.5 ease-in-out;
    box-shadow: 1px 2px 20px rgb(193, 128, 247);
}

.clip {
    z-index: -1;
    height: 96vh;
    position: relative;
    background: linear-gradient(to right, rgb(162, 0, 255), rgb(93, 0, 136));
    background-size: cover;
    overflow: hidden;
    width: 100%;
    margin-top: -10%;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.video-asset {
    filter: grayscale(100%);
}

.header-video:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to right,
            rgba(65, 0, 255, 0.5),
            rgba(255, 0, 232, 0.5));
}

.cards {
    margin-top: -20%;
    text-align: center;
    z-index: 5;
}

.entries {
    max-width: 90%;
}

.register-entries {
    max-width: 100%;
}

.card-panel {
    text-align: center !important;
}

.home-logo {
    width: 500px;
    height: 500px
}

.card {
    border-radius: 20px;
    margin: 5% auto;
    text-align: center;
    padding: 8%;
    box-shadow: 1px 2px 20px rgba(81, 1, 143, 0.103);
}

svg {
    margin-top: -5%;
    transform-origin: center;
    width: 30% !important;
}

.card-title {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    text-transform: uppercase;
    color: var(--btn-primary) !important;
}

.help h3 {
    font-weight: 600 !important;
    font-size: 2.5rem !important;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to right, #4A00E0, rgb(174, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    color: transparent;
}

.feedback h3 {
    font-weight: 600 !important;
    font-size: 2.5rem !important;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to right, #4A00E0, rgb(174, 0, 255));
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    background-repeat: no-repeat;
    color: transparent;
}

.page-footer {
    background: rgb(80, 3, 180);
}

.footer-copyright {
    background: rgb(62, 2, 139) !important;
}

.credential_cards {
    margin: 10% auto;
    max-width: 100%;
}

#logo {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    animation: scaler 1s ease forwards;
}

#logo path:nth-child(1) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-anime 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-anime 3s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-anime 4s ease forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-anime 5s ease forwards;
}

#logo path:nth-child(5) {
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    animation: line-anime 4s ease forwards;
}

#logo path:nth-child(6) {
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
    animation: line-anime 7s ease forwards;
}

#logo path:nth-child(7) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-anime 8s ease forwards;
}

#logo path:nth-child(8) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-anime 9s ease forwards;
}

#logo path:nth-child(9) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: line-anime 10s ease forwards;
}

@keyframes line-anime {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes scaler {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1.5);
    }
}

.dropdown-content {
    box-shadow: 2px 14px 38px 0 rgb(219, 219, 219) !important;
    border-radius: 10px;
}

select {
    box-shadow: 2px 14px 38px 0 rgb(219, 219, 219);
}

.preloader {
    height: 60vh;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5 ease;
    position: fixed;
}

.preloader-finish {
    opacity: 0;
    pointer-events: none;
}

div #rotator {
    animation: toping 1s ease-out infinite;
    transform-origin: center;
    transform-box: fill-box;
    transform: rotateZ(360deg)
}

@keyframes toping {
    0% {
        opacity: 0.5;
        transform: rotateZ(0deg) scale(0.4);
        rx: 20
    }

    50% {
        opacity: 1;
        transform: rotateZ(90deg) scale(1);
        rx: 0
    }

    100% {
        opacity: 0.2;
        transform: rotateZ(360deg) scale(0.4);
        rx: 20
    }
}

.swal-title {
    margin: 0px;
    font-size: 20px;
    padding: 30px
}

.mailing {
    margin: 5% auto !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.send-svg {
    width: 900px;
    height: 900px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.formfield {
    text-align: center;
}